.advantages-list {
  list-style: none;
  margin: 0;
  padding: 25px 0 19px;
  background-color: $main-color-second;
  text-align: left;
}

.advantages-list__item {
  position: relative;
  padding: 10px 20px 18px 70px;

  &--house::before {
    content: "";

    position: absolute;
    top: 0;
    left: 21px;

    width: 39px;
    height: 37px;
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &--gift::before {
    content: "";

    position: absolute;
    top: -1px;
    left: 25px;

    width: 32px;
    height: 38px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &--food::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 19px;

    width: 39px;
    height: 36px;
    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.advantages-list__title {
  margin: 0 0 14px;

  font-size: 18px;
  line-height: 26px;
  font-weight: $font-weight-bold;
}

.advantages-list__desctiption {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: $font-weight-regular;
}

@media (min-width: $tablet-width) {
  .advantages-list {
    display: flex;

    @include width(100%);
    padding: 0;
  }

  .advantages-list__item {
    @include width(33.3%);
    height: 331px;
    padding: 160px 50px 0;

    text-align: center;

    &--gift {
      order: 1;
      padding: 160px 45px 0;
    }

    &::before {
      left: 50%;

      transform: translateX(-50%);
    }

    &--house::before {
      top: 60px;

      width: 75px;
      height: 73px;
    }

    &--gift::before {
      top: 58px;

      width: 64px;
      height: 76px;
    }

    &--food::before {
      top: 63px;

      width: 77px;
      height: 70px;
    }
  }

  .advantages-list__title {
    margin-bottom: 21px;
    font-size: 21px;
  }
}

@media (min-width: $desktop-width) {
  .advantages-list__text {
    display: block;
  }
}
