.button {
  display: block;
  padding: 16px 0;

  font-family: $font-family;
  font-size: 21px;
  font-weight: $font-weight-bold;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $main-color-second;

  border: none;
  background-color: $button-color;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $button-color-hover;
  }

  &:active {
    color: rgba($main-color-second, 0.3);

    background-color: $button-color-active;
  }
}
