.controls {
  display: flex;
  justify-content: space-between;

  @include width(87.5%);
  padding: 22px 23px 24px;

  background-color: darken($extra-color-first, 5%);
}

.controls__button {
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &:hover .controls__button-icon {
    fill: $extra-color-second;
  }

  &:active .controls__button-icon {
    fill: rgba($extra-color-second, 0.3);
  }
}


.controls__button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 83px;
}

.controls__button-icon {
  fill: #5c6870;
}
