.contact-field {
  @include width(100%);
  margin: 0;
  padding: 0 0 0;

  font-family: $main-font-family;
  text-transform: uppercase;

  border: none;
}

.contact-field__legend {
  display: block;
  width: 100%;
  margin: 0 0 19px;
  padding: 19px 0 0;

  font-size: $font-size-title;
  line-height: $line-height-title;
  font-weight: $font-weight-bold;
  text-align: center;

  border-top: 1px solid #e5e5e5;
}

.contact-field__wrapper {
  padding:: 0 21px 15px;
}

.contact-field__label {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  @include width(100%);
  margin: 0 0 12px;

  font-size: $font-size-descrition;
  line-height: $line-height-title;
  font-weight: $font-weight-regular;

  &::before {
    content: "";

    position: absolute;
    bottom: 0;
    right: 0;

    display: block;
    width: 58px;
    height: 58px;

    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--number::before {
    background-image: url("../img/icon-phone.svg");
  }

  &--email::before {
    background-image: url("../img/icon-mail.svg");
  }
}

.contact-field__label-text {
  margin: 0 0 7px 21px;
}

.contact-field__input {
  display: block;

  flex-grow: 1;
  @include width(180px);
  height: 58px;
  padding: 0 58px 0 21px;

  font-family: $main-font-family;
  font-size: $font-size-title;
  line-height: $line-height-title;
  font-weight: $font-weight-bold;
  color: $main-color-second;

  border: none;
  background-color: darken($extra-color-first, 5%);

  &::placeholder {
    color: $main-color-second;
  }
}
