.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $font-family;
  font-size: 14px;
  text-transform: uppercase;
  color: $extra-color-first;
}

.copyright__text {
  margin: 0 13px 0 0;

  line-height: 26px;
  font-weight: $font-weight-regular;
}

.copyright__link {
  display: block;
  margin-top: 3px;

  .copyright__icon {
    display: block;

    fill: $extra-color-first;
  }
}

.copyright__link:hover,
.copyright__link:focus {
  .copyright__icon {
    fill: $main-color-first;
  }
}

.copyright__link:active {
  .copyright__icon {
    fill: rgba($extra-color-first, 0.3);
  }
}
