.feature {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 26px 0 10px;

  font-family: $font-family;
  text-transform: uppercase;
  text-align: center;
  background-color: #eeeeee;

  &:nth-child(4)::after,
  &:nth-child(5)::after {
    content: "";

    position: absolute;
    left: 50%;
    bottom: 1px;

    display: block;
    width: 280px;
    height: 1px;

    background-color: #d6d6d6;

    transform: translateX(-50%);
  }
}

.feature--special {
  padding: 29px 0 0;

  background-color: $main-color-first;

  .feature__title {
    color: $main-color-second;
  }

  .feature__number {
    color: $main-color-second;
  }

  .feature__description {
    margin: 0 0 40px;
    padding: 0 15px 0;

    color: $main-color-second;
  }
}

.feature--first-child {
  padding: 77px 0 10px;

  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: top;
}

.feature__wrapper {
  width: 100%;
}

.feature__title {
  width: 100%;
  margin: 0 0 10px;

  font-size: 18px;
  line-height: 26px;
  font-weight: $font-weight-bold;
  color: $extra-color-first;
}

.feature__number {
  display: block;
  width: 100%;
  margin-bottom: 14px;

  font-size: 14px;
  line-height: 21px;
  font-weight: $font-weight-regular;
  color: $extra-color-second;
}

.feature__description {
  width: 100%;
  margin: 0 0 19px;
  padding: 0 35px 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: $font-weight-regular;
  color: $extra-color-second;
}

.feature__image-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;

  overflow: hidden;
}

.feature__image {
  display: block;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .feature {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 33.3%;
    padding: 0;

    background-image: none;

    &:nth-child(5) .feature__wrapper {
      padding: 47px 60px 10px;
    }

    &:nth-child(4)::after,
    &:nth-child(5)::after {
      display: none;
    }
  }

  .feature--special {
    width: 100%;
    padding: 0;

    .feature__wrapper {
      width: 33.3%;
      padding: 45px 45px 10px;
    }

    .feature__description {
      padding: 0;
      margin: 0;
    }
  }

  .feature__wrapper {
    width: 100%;
    min-height: 255px;
    padding: 47px 48px 20px;

    &--reverse {
      order: 1;
    }
  }

  .feature__title {
    margin: 0 0 10px;

    font-size: 21px;
  }

  .feature__title-text {
    display: block;
  }

  .feature__number {
    margin: 0 0 20px;
  }

  .feature__description {
    margin: 0;
    padding: 0;
  }

  .feature__image-wrapper {
    width: 66.7%;
    height: 255px;
  }
}

@media (min-width: $desktop-width) {
  .feature--special {
    .feature__wrapper {
      padding: 52px 30px 25px;
    }

    .feature__description {
      padding: 0 55px 0;
    }
  }

  .feature--first-child {
    .feature__wrapper {
      padding: 52px 55px 25px;
    }

    .feature__description {
      padding: 0;
    }
  }

  .feature__title {
    padding: 0 72px;
  }
}
