.field-checkbox {
  @include width(100%);
  margin: 0;
  padding: 0 0 0;

  font-family: $font-family;

  border: none;
}

.field-checkbox__legend {
  display: block;
  width: 100%;
  margin: 0 0 15px;
  padding: 19px 0 0;

  font-size: 18px;
  line-height: 26px;
  font-weight: $font-weight-bold;
  text-align: center;
  text-transform: uppercase;

  border-top: 1px solid #e5e5e5;
}

.field-checkbox__wrapper {
  padding: 0 21px 2px;
}

.field-checkbox__label {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  @include width(100%);
  margin: 0 0 24px;

  font-size: 18px;
  line-height: 26px;
  font-weight: $font-weight-bold;
}

.field-checkbox__indicator {
  position: relative;

  display: block;
  box-sizing: border-box;
  width: 56px;
  height: 56px;
  margin-right: 22px;

  border-radius: 5px;
  background-color: $input-color;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $input-color-hover;
  }

  &:active {
    background-color: $input-color-active;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.field-checkbox__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.field-checkbox__input:checked + .field-checkbox__indicator::before,
.field-checkbox__input:active + .field-checkbox__indicator::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  box-sizing: border-box;
  width: 25px;
  height: 19px;

  background-image: url("../img/icon-tick.svg");
  background-position: center;
  background-repeat: no-repeat;

  transform: translate(-50%, -50%);
}

.field-checkbox__input:focus + .field-checkbox__indicator {
  background-color: $input-color-hover;
  border: 4px solid $input-color-active;
}

@media (min-width: $tablet-width) {
  .field-checkbox {
    padding-bottom: 37px;

    border-top: 1px solid #dbdbdb;
  }

  .field-checkbox__legend {
    @include width(400px);
    margin: 0 auto 0;

    @-moz-document url-prefix() {
      margin-left: 124px;
    }

    padding: 0 0 0;

    font-size: 21px;
    line-height: 26px;

    border: none;
  }

  .field-checkbox__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 41px 0 0 61px;
  }

  .field-checkbox__label {
    @include width(259px);
    margin: 0 0 32px;
  }

  .field-checkbox__indicator {
    margin-right: 24px;
  }
}

@media (min-width: $desktop-width) {
  .field-checkbox {
    padding-bottom: 68px;
  }

  .field-checkbox__legend {
    @-moz-document url-prefix() {
      margin-left: 280px;
    }
  }

  .field-checkbox__wrapper {
    justify-content: flex-start;
    padding: 41px 0 0;
  }

  .field-checkbox__label {
    width: auto;
    margin: 0 68px 0 0;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
