.modal {
  display: none;
  @include width(320px);
  padding: 40px 0 0;

  font-family: $main-font-family;
  text-transform: uppercase;
  text-align: center;

  background-color: $extra-color-first;
  box-shadow: 0 7px 25px rgba($main-color-second, 0.15);

  &--active {
    display: block;
  }

  &--negative {
    padding: 40px 0 35px;
  }

  &--negative .modal__button {
    width: 180px;
  }

  &--negative .modal__text {
    margin: 0 0 23px;
  }
}

.modal__title {
  @include width(100%);
  margin: 0 0 26px;

  font-size: 18px;
  line-height: 26px;
  font-weight: $font-weight-bold;
  color: $main-color-second;
}

.modal__text {
  @include width(100%);
  margin: 0 0 34px;
  padding: 0 42px;

  font-size: $font-size-descrition;
  line-height: 24px;
  font-weight: $font-weight-regular;
  color: $extra-color-second;
}

.modal__button-wrapper {
  width: 100%;
  padding: 20px 0;
  background-color: #f2f2f2;
}

.modal__button {
  width: 280px;
  margin: auto;

  font-size: 18px;
}
