.page__wrapper {
  // min-width: $mobile-width;
  width: $mobile-width;
  margin: auto;
  background-color: $extra-color-first;
}

@media (min-width: $tablet-width) {
  .page__wrapper {
    // min-width: $tablet-width;
    width: $tablet-width;
    margin: auto;
  }
}

@media (min-width: $desktop-width) {
  .page {
    background-color: #f2f2f2;
  }

  .page__wrapper {
    width: $desktop-width;
    margin: auto;
    box-shadow:
      -1px 0 20px rgba($main-color-second, 0.15),
      1px 0 20px rgba($main-color-second, 0.15);
  }
}
