.photo-card {
  padding: 22px 20px 17px;

  font-size: 14px;
  line-height: 24px;

  border-top: 1px solid darken($main-color-second, 10.3%);
}

.photo-card__photo {
  margin: 0;
}

.photo-card__link {
  display: block;
  margin-bottom: 15px;
}

.photo-card__image {
  display: block;
  width: 100%;
  margin: auto;
}

.photo-card__caption {
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  color: $extra-color-first;
}

.photo-card__author {
  margin: 0 0 8px;

  font-weight: $font-weight-regular;
  color: $extra-color-second;
}

.photo-card__like {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  font-weight: $font-weight-bold;
}

.photo-card__like-button {
  margin-right: 15px;
  padding: 0;

  font-size: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.photo-card__like-indicator {
  display: block;
}

@media (min-width: $tablet-width) {
  .photo-card {
    position: relative;

    padding: 0 0 17px;

    border: none;

    &--first-child {
      @include width(100%);
    }
  }

  .photo-card__caption {
    padding: 0 20px;
  }

  .photo-card__author {
    margin-bottom: 0;
    padding: 0 20px;
  }

  .photo-card__like {
    position: absolute;
    right: 21px;
    bottom: 27px;

    width: 63px;
  }

  .photo-card__like-button {
    margin-right: 9px;
  }
}

@media (min-width: $desktop-width) {
  .photo-card {
    position: relative;
    padding: 0;
  }

  .photo-card__photo::before {
    content: "";

    position: absolute;
    bottom: 0;
    left: auto;

    display: block;
    width: 100%;
    height: 80px;

    background-color: rgba($extra-color-first, 0.3);
  }

  .photo-card__link {
    margin: 0;
  }

  .photo-card__caption {
    position: absolute;
    right: auto;
    bottom: 41px;

    color: $main-color-second;
  }

  .photo-card__author {
    position: absolute;
    bottom: 17px;

    color: $main-color-second;
  }

  .photo-card__like {
    bottom: 28px;

    color: $main-color-second;
  }

  .photo-card__like-icon {
    fill: $main-color-second;
  }
}
