.photo-card {
  padding: 22px 20px 17px;

  font-size: 14px;
  line-height: 24px;

  border-top: 1px solid #e5e5e5;
}

.photo-card__photo {
  margin: 0;
}

.photo-card__link {
  display: block;
}

.photo-card__image {
  display: block;
  width: 100%;
  margin: auto;
}

.photo-card__caption {
  padding: 15px 0 0;
}

.photo-card__caption-wrapper {
  margin-bottom: 8px;
}

.photo-card__name {
  margin: 0;

  text-transform: uppercase;
  font-weight: $font-weight-bold;
  color: $extra-color-first;
}

.photo-card__author {
  margin: 0;

  font-weight: $font-weight-regular;
  color: $extra-color-second;
}

.photo-card__like {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  font-weight: $font-weight-bold;
}

.photo-card__like-button {
  margin-right: 15px;
  padding: 0;

  font-size: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &:hover .photo-card__like-icon {
    fill: $extra-color-first;
  }
}

.photo-card__like-indicator {
  display: block;
}

.photo-card__like-icon {
  display: block;

  fill: #b2b2b2;
}

@media (min-width: $tablet-width) {
  .photo-card {
    position: relative;

    padding: 0;

    border: none;

    &--first-child {
      width: 100%;
    }
  }

  .photo-card__photo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .photo-card__caption {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
    padding: 15px 21px 17px;
  }

  .photo-card__caption-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 75%;
    margin-bottom: 0;
  }

  .photo-card__name {
    width: 100%;
  }

  .photo-card__author {
    width: 100%;
    margin-bottom: 0;
  }

  .photo-card__like {
    display: flex;
    align-items: center;
    min-width: 63px;
  }

  .photo-card__like-button {
    margin-right: 9px;
  }
}

@media (min-width: $desktop-width) {
  .photo-card {
    position: relative;

    padding: 0;
  }

  .photo-card__link {
    margin: 0;
  }

  .photo-card__caption {
    position: absolute;
    right: auto;
    bottom: 0;

    color: $main-color-second;

    background-color: rgba($extra-color-first, 0.3);
  }

  .photo-card__name,
  .photo-card__author,
  .photo-card__like {
    color: $main-color-second;
  }

  .photo-card__like-icon {
    fill: $main-color-second;
  }

  .photo-card__like-button {
    &:hover .photo-card__like-icon {
      fill: $main-color-second;
      opacity: 0.6;
    }
  }
}
