.site-list {
  @include width(100%);

  text-transform: uppercase;
  list-style: none;

  &--no-js {
    display: block;
  }
}

.site-list__link {
  display: block;

  @include width(100%);
  padding: 7px 0;

  font-size: 18px;
  line-height: 40px;
  font-weight: $font-weight-bold;
  text-decoration: none;
  text-align: center;
  color: $main-color-second;

  border-top: 1px solid #9bc2db;
  border-bottom: 1px solid #678fa8;
  background-color: $button-color;
  cursor: pointer;

  &:hover {
    border-top-color: #86b2cd;

    background-color: $button-color-hover;
  }

  &:active {
    color: rgba($main-color-second, 0.3);

    background-color: $button-color-active;
  }

  &--first-child {
    border-top: none;
    padding-top: 8px;
  }

  &--last-child {
    border-bottom: none;
    background-image: url("../img/link-gradient.png");
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    @include width(100%);
    position: static;

    display: flex;
    justify-content: space-between;

    transform: none;
  }

  .site-list__item {
    &:nth-child(3) {
      margin-left: 155px;
    }
  }

  .site-list__link {
    font-size: 14px;
    color: $extra-color-first;
    background-color: transparent;
    background-image: none;
    border: none;
    width: 154px;

    &:hover {
      color: $main-color-first;
      background-color: transparent;
    }

    &:active {
      color: rgba($extra-color-first, 0.3);
    }

    &--active {
      color: #766357;
    }

    &--active:hover {
      color: #604e43;
    }

    &--active:active {
      color: rgba(#604e43, 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    padding: 0 42px 0;
  }

  .site-list__item {
    &:nth-child(3) {
      margin-left: 245px;
    }
  }
}
