.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 690px;
  justify-content: center;
  padding: 0;

  list-style: none;
}

.social-list__item {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;

  font-size: 0;

  background-color: $button-color;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $button-color-hover;
  }

  &:active {
    background-color: $button-color-active;
  }

  &:active .social-list__icon {
    opacity: 0.3;
  }
}

.social-list__icon {
  fill: $main-color-second;
}
