.video {
  @include width(100%);
  padding: 34px 0 39px;

  font-family: $main-font-family;
  text-transform: uppercase;
  text-align: center;
}

.video__title {
  @include width(100%);
  margin: 0 0 26px;
  padding: 0;

  font-size: $font-size-title;
  line-height: $line-height-title;
  font-weight: $font-weight-bold;
}

.video__description {
  @include width(100%);
  margin: 0 0 35px;
  padding: 0 25px;

  font-size: $font-size-descrition;
  line-height: 24px;
  font-weight: $font-weight-regular;
}

@media (min-width: $tablet-width) {
  .video {
    padding: 61px 0 39px;
  }

  .video__title {
    font-size: 30px;
    line-height: 36px;
  }

  .video__description {
    padding: 0 165px;
    margin-bottom: 72px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    padding: 65px 0 85px;
  }

  .video__description {
    padding: 0 385px;
  }
}
