.video {
  width: 100%;
  padding: 33px 0 39px;

  font-family: $font-family;
  text-transform: uppercase;
  text-align: center;

  border-top: 1px solid #e5e5e5;
}

.video__title {
  width: 100%;
  margin: 0 0 26px;
  padding: 0;

  font-size: 18px;
  line-height: 26px;
  font-weight: $font-weight-bold;
}

.video__description {
  width: 100%;
  margin: 0 0 35px;
  padding: 0 25px;

  font-size: 14px;
  line-height: 24px;
  font-weight: $font-weight-regular;
}

@media (min-width: $tablet-width) {
  .video {
    padding: 61px 0 39px;

    border-top: none;
  }

  .video__title {
    font-size: 30px;
    line-height: 36px;
  }

  .video__description {
    margin-bottom: 72px;
    padding: 0 165px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    padding: 65px 0 85px;
  }

  .video__description {
    padding: 0 385px;
  }
}
