.video-player {
  position: relative;
}

.video-player__preview {
  display: block;
  margin: auto;
}

.video-player__volume {
  position: absolute;
  top: 178px;
  left: 50%;
  z-index: 10;

  width: 235px;
  height: 3px;
  background-color: rgba($main-color-second, 0.2);

  transform: translateX(-50%);

  &::before {
    content: "";

    position: absolute;
    top: 49%;
    left: 50%;
    z-index: 0;

    display: block;
    width: 280px;
    height: 45px;

    background-color: rgba($extra-color-first, 0.6);

    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 15%;
    z-index: 20;

    display: block;
    width: 9px;
    height: 9px;

    border-radius: 50%;
    background-color: $main-color-second;

    cursor: pointer;
    transform: translateY(-50%);
  }
}

.video-player__controls {
  margin: auto;
}

@media (min-width: $tablet-width) {
  .video-player {
    position: relative;

    padding: 0 7.8% 0;
  }

  .video-player__volume {
    top: auto;
    bottom: 45px;

    width: 50.5%;

    transform: translateX(-60%);

    &::before {
      display: none;
    }

    &::after {
      left: 30%;
    }
  }

  .video-player__controls {
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);
  }
}

@media (min-width: $desktop-width) {
  .video-player__volume {
    width: 45%;

    transform: translateX(-57%);
  }
}
