$main-color-first: #81b3d2;
$main-color-first-hover: #669ec0;
$main-color-first-active: #5496bd;
$main-color-second: #000000;

$extra-color-first: #ffffff;
$extra-color-second: #333333;


$main-font-family: 'PT Sans', sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-title: 18px;
$font-size-descrition: 14px;

$line-height-title: 26px;
$line-height-description: 21px;
